<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Artículo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("partials/nav")%>
    <div class="container g-0 mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center m-3">
            <h1>Articles</h1>
            <a href="/articulos/crear" class="btn btn-success h-50">Nuevo</a>
          </div>

          <table id="table-article" class="table table-striped">
            <tr>
              <th class="col-1">Id</th>
              <th class="col-2">Title</th>
              <th id="content-col" class="col-4">Content</th>
              <th class="col-2">Image</th>
              <th class="col-1">Created at</th>
              <th class="col-1">Author</th>
              <th class="col-1">Actions</th>
            </tr>

            <% for (const article of articles){ %>
            <tr>
              <td><%=article.id%></td>
              <td><%=article.title%></td>
              <td class="content-col"><%=article.content%></td>
              <td>
                <%if (article.image.includes("http")) { %>
                  <img class="w-50" src="<%=article.image%>" alt="imagen del articulo <%=article.title%>" />
                <% } else { %>
                  <img class="w-50" src="/img/<%=article.image%>" alt="imagen del articulo <%=article.title%>" />
                <% } %>
              </td>
              <td><%= format(article.createdAt, 'dd MM yyyy') %></td>
              <td><%= article.user.firstname %> <%= article.user.lastname%></td>
              <td>
                <a href="/articulos/<%=article.id%>/editar" class="btn btn-sm btn-primary">Editar</a
                ><button type="button" onclick="deleteArticle('<%= article.id %>')" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Borrar
                </button>
                
              </td> 
            </tr>
            <%}%>
          </table>
        </div>
      </div>
    </div>
    <%-include("partials/footer")%>
    <!-- Modal Delete -->
    <%-include("partials/modalDeleteArticles")%>
    <!-- --- -->

    <!-- Nuestro Js Front -->
    <script src="javascript/index.js"></script>
    <!-- Js Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/fefc105dd4.js" crossorigin="anonymous"></script>
    
  </body>
</html>
