<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("partials/nav")%>

    <div class="d-flex hero-image justify-content-center align-items-center">
      <div>
        <h1 class="display-2 text-white fw-bold">Hack the Blog</h1>
        <p class="display-6 text-center text-white">El Blog de sala 10</p>
      </div>
    </div>

    <section class="container">
      <div class="row text-left border-bottom p-5">
        <% for(const article of articles){ %>
        <div class="col-12 m-5 mb-3">
          <a href="/articulos/<%= article.id %>" class="text-decoration-none text-black">
            <p class="h1 fw-bold article-link"><%= article.title %></p>
          </a>
          <small>Creado por <%= article.user.firstname %> <%= article.user.lastname %> el <%= format(article.createdAt, 'dd MM yyyy') %> </small>
        </div>
        <% } %>
      </div>
    </section>

    <!--
  }
 <div class="p-0 container-fluid position-relative">
      <h1>Hack Academy</h1>
      <img class="position-absolute" src="/img/hero.jpg" alt="Desktop image" />
    </div>
     -->

    <%-include("partials/footer")%>

    <script src="https://kit.fontawesome.com/fefc105dd4.js" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
